body
{
text-align:center;
background-color:#33AD33;
font-family:"Comic Sans MS",cursive,sans-serif;
}

.path
{
width:40px;
height:40px;
background-image:url('img/grasspath.png');
background-color:#006B00;
position:relative;
float:left;
margin:5px;
}

.boulder
{
width:40px;
height:40px;
background-image:url('img/grasspath.boulder.png');
position:relative;
float:left;
margin:5px;
}

.fence
{
width:50px;
height:40px;
position:relative;
float:left;
}

a:link,a:visited
{
display:block;
width:100%;
position:absolute;
top:0px;
left:0px;
font-weight:bold;
font-family:"Comic Sans MS",cursive,sans-serif;
color:#FFFFFF;
background:#006B00;
text-align:center;
padding:10px;
text-decoration:none;
text-transform:uppercase;
}

.fen
{
width:50px;
height:20px;
}
